* {
    primary: #dabaf9;
    primary-fixed: #efdbff;
    primary-fixed-dim: #dabaf9;
    on-primary: #3e2459;
    on-primary-fixed: #280d43;
    on-primary-fixed-variant: #553b71;
    primary-container: #553b71;
    on-primary-container: #efdbff;
    secondary: #d0c1da;
    secondary-fixed: #edddf6;
    secondary-fixed-dim: #d0c1da;
    on-secondary: #362d3f;
    on-secondary-fixed: #21182a;
    on-secondary-fixed-variant: #4d4357;
    secondary-container: #4d4357;
    on-secondary-container: #edddf6;
    tertiary: #f3b7be;
    tertiary-fixed: #ffd9dd;
    tertiary-fixed-dim: #f3b7be;
    on-tertiary: #4b252b;
    on-tertiary-fixed: #321017;
    on-tertiary-fixed-variant: #653a41;
    tertiary-container: #653a41;
    on-tertiary-container: #ffd9dd;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #151218;
    on-surface: #e8e0e8;
    on-surface-variant: #ccc4cf;
    outline: #968e98;
    outline-variant: #4a454e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e8e0e8;
    inverse-on-surface: #332f35;
    inverse-primary: #6e528b;
    surface-dim: #151218;
    surface-bright: #3c383e;
    surface-container-lowest: #100d12;
    surface-container-low: #1e1a20;
    surface-container: #221e24;
    surface-container-high: #2c292e;
    surface-container-highest: #373339;
}
