@import "colors.rasi"
/*****----- Configuration -----*****/
configuration {
	modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/
* {
    font:                        "Iosevka Nerd Font Propo 16px";
}

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    border: 1px;
    border-color: @outline-variant;
    width:                       700px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    border-radius:               0px;
    cursor:                      "default";
    background-color:            @surface-container;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 horizontal;
    children:                    [ "imagebox", "listbox" ];
}

imagebox {
    padding:                     20px;
    background-color:            @surface-dim;
    orientation:                 vertical;
    children:                    [ "inputbar", "dummy", "mode-switcher" ];
}

listbox {
    spacing:                     20px;
    padding:                     20px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "message", "listview" ];
}

dummy {
    background-color:            transparent;
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     15px;
    border-radius:               0px;
    background-color:            @surface-container-highest;
    text-color:                  @on-surface;
    children:                    [ "entry" ];
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "";
    background-color:            inherit;
    text-color:                  @on-surface;
}
entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  @on-surface;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           inherit;
}

/*****----- Mode Switcher -----*****/
mode-switcher{
    enabled:                     true;
    spacing:                     20px;
    background-color:            transparent;
}
button {
    padding:                     15px;
    border-radius:               0px;
    background-color:            @surface-container;
    text-color:                  @on-surface;
    cursor:                      pointer;
}
button selected {
    background-color:            @primary;
    text-color:                  @on-primary;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       7;
    cycle:                       false;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @on-surface;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     15px;
    padding:                     8px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @on-surface;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  @on-surface;
}
element normal.urgent {
    background-color:            @error;
    text-color:                  @on-error;
}
element normal.active {
    background-color:            inherit;
    text-color:                  @on-surface;
}
element selected.normal {
    background-color:            @surface-container-high;
    text-color:                  @primary;
}
element selected.urgent {
    background-color:            @surface-container-high;
    text-color:                  @error;
}
element selected.active {
    background-color:            @surface-container-high;
    text-color:                  @primary;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Message -----*****/
message {
    background-color:            transparent;
}
textbox {
    padding:                     15px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @on-surface;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     15px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @error;
}
