@import "colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Google Sans Flex", "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 1rem;
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: @surface;
    border-radius: 99px;
    padding: 5 0;
    border: 1px solid @outline_variant;
    color: @on-surface;
}

tooltip { 
    background: @surface_container;
    border: 1px solid @outline_variant;
    border-radius: 24px;
}

tooltip label {
	color: @on_surface;
	padding: 3px;
}

#tray menu {
	background-color: @surface_container;
	padding: 6px;
}

#workspaces {

	background-color: @surface_container;
	border-radius: 99px;
	padding: 1px;
	margin: 0 0 0 0px;
	color: @on_surface_variant;
}

#workspaces button {
	 padding: 0 6px;
    margin: 1px;
    border-radius: 99px;
    background-color: @surface_container_lowest;
    color: @on_surface;
}

#workspaces button.empty {
	 padding: 0 6px;
    margin: 1px;
    border-radius: 99px;
    background-color: transparent;
    color: @on_surface;
}

#workspaces button:hover {
    background-color: @surface_container_high;
    color: @on_surface;
    border-radius: 99px;
}

#workspaces button.urgent {

	 background-color: @error;
    color: @on_error;
    border-radius: 99px;

}

#workspaces button.focused, #workspaces button.active {

	 background-color: @primary;
    border-radius: 99px;
    color: @on_primary;
}




#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#power-profiles-daemon,


#clock {
    background-color: transparent;
    border-radius: 12px;
    color: @on_surface;
    font-size: 1rem;
}

#battery, #battery.charging, #battery.plugged{
    font-size: 1rem;
    background-color: @surface_container;
    padding: 0 15 0 15;
    border-radius: 99px;
    margin: 0 0 0 0;
    color: @on_surface;
}

#bluetooth {
    background-color: transparent;
    font-size: 1rem;
    color: @on_surface;
    margin: 0 15px 0 15px;
}



#power-profiles-daemon {
}

#power-profiles-daemon.performance {
    background-color: transparent;
    color: @on_surface;
    font-size: 1rem;
    margin: 0 0 0 15px;
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    font-size: 1rem;
    color: @on_surface;
    margin: 0 0 0 15px;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    font-size: 1rem;
    color: @on_surface;
    margin: 0 0 0 15px;
}


#backlight {
    background-color: transparent;
    margin: 0 0 0 10;
    font-size: 1rem;
    color: @on_surface;
}

#network, #network.disconnected {
    background-color: transparent;
    font-size: 1.3rem;
    color: @on_surface;
    margin: 0 5 0 8px;
}


#pulseaudio, #pulseaudio.muted {
    color: @on_surface;
    font-size: 1rem;
}



#tray {
    border-radius: 99px;
    margin: 0 8 0 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: transparent;
  font-size: 1rem;
    color: @on_surface;
  margin: 0 0 0 15px;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: @on_surface;
  font-size: 1rem;
  margin: 0 0 0 15px;
}


#privacy {
        padding: 0 10;
        margin: 0 5 0 0px;
	background-color: @surface_container;
	border-radius: 99px;
	color: @on_surface;
}

#privacy-item {
    padding: 0 5 0 5px;
    color: @on_surface;
}

#privacy-item.screenshare {
}

#privacy-item.audio-in {
}

#privacy-item.audio-out {
}

#custom-notification {
  margin: 0 8 0 0px;
    color: @on_surface;
  font-size: 1.3rem;
}

#custom-power{
  font-size: 1.5rem;
    color: @on_surface;
  margin: 0 15px  0 15px;
}

#netciao {

    font-size: 1rem;
    padding: 0 5 0 0;
    color: @on_surface;
    margin: 0 5 0 8px;
}

#powera {

	
	background-color: @surface_container;
	border-radius: 99px;
	color: @on_surface;

}

#clocko{


	background-color: @surface_container;
	margin: 0 5;
	padding: 0 15 0 15;
	border-radius: 99px;
	color: @on_surface;
}

#rogo {
	background-color: @surface_container;
	padding: 0 15 0 15;
	margin: 0 5;
	border-radius: 99px;
	color: @on_surface;
}
